SERVER_PORT=8080

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

SPRING_H2_CONSOLE_ENABLED=
SPRING_H2_CONSOLE_PATH=
SPRING_H2_CONSOLE_WEB_ALLOW_OTHERS=

SPRING_JPA_DATABASE_PLATFORM=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_JPA_SHOW_SQL=
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=

SPRING_THYMELEAF_CACHE=

# Rate limiting configuration
RATE_LIMIT_REQUESTS_PER_MINUTE=20
RATE_LIMIT_REFILL_DURATION=PT1M
RATE_LIMIT_ENDPOINT=/dashboard/create